<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" lang="en"
      th:with="backButtonShow=true">
<head>
    <title></title>
</head>
<body>
<main class="govuk-main-wrapper" layout:fragment="main" id="main-content">
    <h1 class="govuk-heading-l" th:text="#{P8_0a.title}"></h1>
            <p class="govuk-body" th:text="#{P8_0a.paragraph1}"></p>
            <p class="govuk-link" th:utext="#{P8_0a.link1}"></p>
        <h2 class="govuk-heading-m" th:text="#{P8_0a.subheading1}"></h2>
            <p class="govuk-body" th:text="#{P8_0a.paragraph2}"></p>
            <p class="govuk-link" th:utext="#{P8_0a.link2}"></p>
        <h2 class="govuk-heading-m" th:text="#{P8_0a.subheading2}"></h2>
            <p class="govuk-body" th:text="#{P8_0a.paragraph3}"></p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:utext="#{P8_0a.link3}"></li>
                    <li th:utext="#{P8_0a.link4}"></li>
                </ul>
    <a href="https://www.gov.uk/guidance/how-to-report-a-serious-incident-in-your-charity">
        <button type="submit" class="govuk-button" data-module="govuk-button" th:text="#{Exit-button-label}"></button>
    </a>

</main>
</body>
</html>