<!DOCTYPE html>/*
/
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/questionLayout}"
      th:with="backButtonShow=true, backButtonHref='/',pageCaption=' ', pageHeading=#{P8_1.title},saveButton=false">
<head>
    <meta charset="UTF-8">
    <title>P8.1.html</title>
</head>
<body>
<div layout:fragment="form-content">
    <p class="govuk-hint" th:text="#{P8_1.input.hint}"></p>
    <div th:insert="~{fragments/lib/textinput :: textinput (null, 10)}"></div>
</div>

</body>
</html>