<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/questionLayout}"
      th:with="backButtonShow=true, backButtonHref='/',pageCaption=#{P8.caption}, pageHeading=#{P8_3a.title},saveButton=false">
<head>
    <meta charset="UTF-8">
    <title>P8.3a.html</title>
</head>
<body>
<div layout:fragment="form-content">
    <div th:insert="~{fragments/lib/radioinput :: radioYesNo (null, 'P8.3a-radioGroup')}"></div>
</div>

</body>
</html>