<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/questionLayout}"
      th:with="backButtonShow=true, backButtonHref='/',pageCaption=#{P8.caption}, pageHeading=#{P8_6.title},saveButton=false">
<head>
    <meta charset="UTF-8">
    <title>P8.6.html</title>
</head>
<body>
<div layout:fragment="form-content">
    <div th:insert="~{fragments/lib/textinput :: textinputValidation (#{P8_6.textbox1.hint}, 40, 'P8.6-input')}"> </div>
</div>

</body>
</html>