<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/questionLayout}"
      th:with="backButtonShow=false, backButtonHref='/',pageCaption=#{P1_1.caption}, pageHeading=#{P1_1.title},saveButton=false">
<head>
    <meta charset="UTF-8">
    <title>P1.1</title>
</head>
<body>
<div layout:fragment="form-content">
<!--    <div th:insert="~{fragments/lib/radioinput :: radioWrapper ('', null, 'P1.1-radioGroup', ~{ :: radioInputs1})}">-->
<!--        <th:block th:fragment="radioInputs1">-->
<!--            <th:block th:insert="~{fragments/lib/radioinput  :: radioOption (#{P1_1.radio.option1}, 'option1', null,  'P1.1-radioGroup')}"></th:block>-->
<!--            <th:block th:insert="~{fragments/lib/radioinput  :: radioOption (#{P1_1.radio.option2}, 'option2', null, 'P1.1-radioGroup')}"></th:block>-->
<!--            <th:block th:insert="~{fragments/lib/radioinput  :: radioOption (#{P1_1.radio.option3}, 'option3', null, 'P1.1-radioGroup')}"></th:block>-->
<!--        </th:block>-->
<!--    </div>-->

    <div th:insert="~{fragments/lib/charitySearch :: charitySearchBox}"></div>
    <input type="hidden" name="processInstanceId" value="dummy">

    <!-- Show charity details if found -->
    <div th:if="${charities != null}" class="govuk-inset-text" style="margin-top:20px;">
        <h3 class="govuk-heading-s">
            Charity search results
        </h3>

        <p class="govuk-body">
            <span th:text="${#lists.size(charities)}"></span> result(s) found
        </p>

        <dl class="govuk-summary-list" th:each="charity : ${charities}">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Charity name</dt>
                <dd class="govuk-summary-list__value"
                    th:text="${charity.charityName()}">Charity Name</dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisation number</dt>
                <dd class="govuk-summary-list__value"
                    th:text="${charity.organisationNumber()}">123456</dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Registered charity number</dt>
                <dd class="govuk-summary-list__value"
                    th:text="${charity.regCharityNumber()}">REG-123456</dd>
            </div>
        </dl>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!--    <div th:insert="~{fragments/lib/radioinput :: radioWrapper ('', null, 'P1.1-radioGroup', ~{ :: radioInputs1})}">-->
<!--        <th:block th:fragment="radioInputs1">-->
<!--            <th:block th:insert="~{fragments/lib/radioinput :: radioOption (#{P1_1.radio.option1}, 'option1', null, 'P1.1-radioGroup')}"></th:block>-->
<!--            <th:block th:insert="~{fragments/lib/radioinput :: radioOption (#{P1_1.radio.option2}, 'option2', null, 'P1.1-radioGroup')}"></th:block>-->
<!--            <th:block th:insert="~{fragments/lib/radioinput :: radioOption (#{P1_1.radio.option3}, 'option3', null, 'P1.1-radioGroup')}"></th:block>-->
<!--        </th:block>-->
<!--    </div>-->
</div>

</body>
</html>