<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/questionLayout}"
      th:with="backButtonShow=false, backButtonHref='/',pageCaption=#{P1_1.caption}, pageHeading=#{P1_1.title},saveButton=false">
<head>
    <meta charset="UTF-8">
    <title>P1.1</title>
</head>
<body>
<div layout:fragment="form-content">
    <div th:insert="~{fragments/lib/radioinput :: radioWrapper ('', null, 'P1.1-radioGroup', ~{ :: radioInputs1})}">
        <th:block th:fragment="radioInputs1">
            <th:block th:insert="~{fragments/lib/radioinput  :: radioOption (#{P1_1.radio.option1}, 'option1', null,  'P1.1-radioGroup')}"></th:block>
            <th:block th:insert="~{fragments/lib/radioinput  :: radioOption (#{P1_1.radio.option2}, 'option2', null, 'P1.1-radioGroup')}"></th:block>
            <th:block th:insert="~{fragments/lib/radioinput  :: radioOption (#{P1_1.radio.option3}, 'option3', null, 'P1.1-radioGroup')}"></th:block>
        </th:block>
    </div>
</div>

</body>
</html>