<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/questionLayout}"
      th:with="backButtonShow=true, backButtonHref='/',pageCaption=#{P1_4.caption}, pageHeading=#{P1_4_2.title},saveButton=false">
<head>
    <meta charset="UTF-8">
    <title>P1.4.2.html</title>
</head>
<body>
<div layout:fragment="form-content">
    <p class="govuk-hint" th:text="#{P1_4_2.input.hint}"></p>
    <div th:insert="~{fragments/lib/textinput :: textinput (null, 'three-quarters')}"></div>
</div>

</body>
</html>