<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page with Layout</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://govuk-frontend.herokuapp.com/public/stylesheets/govuk-frontend-3.14.0.min.css}">

</head>
<body class="bg-light">

<div th:replace="fragments :: header"></div>

<div class="container mt-5">
    <div class="card shadow-lg rounded-3">
        <div class="card-body">
            <h2 class="card-title">Main Content</h2>
            <p>This is the body of the page, now styled with Bootstrap.</p>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
